---
description: E-mailverificatie - Marketo Docs - Productdocumentatie
title: E-mailverificatie
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: c6eb6c099104bf0dccba36a7cc8a85dc03bdc9d3
workflow-type: tm+mt
source-wordcount: '0'
ht-degree: 0%

---

# E-mailverificatie {#email-verification}

Voor Adobe Marketo Engage-abonnementen is vereist dat alle gebruikers die geen API zijn, hun e-mailadres verifiëren. Gebruikers met de Single Sign-On (SSO) laten hun e-mail automatisch verifiëren wanneer hun abonnement is ingeschakeld met e-mailverificatie.

**Uitnodiging gebruiker**

Wanneer een Admin een gebruiker uitnodigt, wordt die gebruiker automatisch geverifieerd zodra hij op de uitnodigingskoppeling klikt. Gebruikers met SSO worden automatisch geverifieerd.

**Een e-mailadres wijzigen**

Wanneer het e-mailadres van een gebruiker wordt gewijzigd, wordt het niet geverifieerd. Er wordt een e-mail naar hen verzonden, zodat ze opnieuw kunnen verifiëren. Beheerders kunnen die e-mail handmatig opnieuw verzenden door op **Verificatie opnieuw verzenden**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Gebruikers en rollen**

In Beheer > Gebruikers en rollen wordt in de kolom E-mailstatus de verificatiestatus van elke gebruiker weergegeven.

![](assets/email-verification-3.png)

Als u een niet-geverifieerde gebruiker wilt verifiëren, selecteert u gewoon de record en klikt u op de knop **E-mail verifiëren** knop.

