---
description: E-mailverificatie - Marketo Docs - Productdocumentatie
title: E-mailverificatie
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: f00d43080136dd986a6d81d6bc8102cdaf788b4c
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# E-mailverificatie {#email-verification}

Ik denk dat je hebt gezegd dat we gewoon een nieuwe pagina zullen maken voor e-mailverificatie voor gebruikers

Gebruiker uitnodigen Wanneer een beheerder een gebruiker uitnodigt, wordt de gebruikersinterface of de gebruikerservaring niet gewijzigd wanneer de gebruiker op de uitnodigingskoppeling klikt. De e-mail van de gebruiker wordt automatisch geverifieerd Gebruikers met SSO worden automatisch geverifieerd

In het scherm Gebruikersaccount wordt het e-mailadres weergegeven als geverifieerd. Wanneer het e-mailadres wordt bijgewerkt, wordt in de gebruikersinterface weergegeven dat het e-mailadres voor het account niet is geverifieerd en dat e-mail is verzonden (zie bijgevoegde e-mail)

Beheerder - Pagina Gebruikers en rollen Nieuwe kolom die de verificatiestatus van een gebruiker weergeeft Nieuwe knop om de e-mailverificatie voor de gebruiker opnieuw te activeren

MyMarketo Wanneer een gebruiker met niet-geverifieerde e-mailaanmeldingen een banner op de pagina Mijn Marketo ziet (ALLEEN).
