---
description: E-mailverificatie - Marketo Docs - Productdocumentatie
title: E-mailverificatie
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 342034eeca4ba0084824b833f14d8e8c3b65d6e3
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# E-mailverificatie {#email-verification}

Adobe Marketo Engage-abonnementen vereisen dat alle gebruikers die geen API gebruiken hun e-mailadres verifiëren. Gebruikers met de Single Sign-On (SSO) laten hun e-mail automatisch verifiëren wanneer hun abonnement is ingeschakeld met e-mailverificatie.

**Uitnodiging gebruiker**

Wanneer een Admin een gebruiker uitnodigt, wordt die gebruiker automatisch geverifieerd zodra hij op de uitnodigingskoppeling klikt. Gebruikers met SSO worden automatisch geverifieerd.

**Een e-mailadres wijzigen**

Wanneer het e-mailadres van een gebruiker wordt gewijzigd, wordt het niet geverifieerd. Er wordt een e-mail naar hen verzonden, zodat ze opnieuw kunnen verifiëren. Gebruikers kunnen de e-mail handmatig opnieuw verzenden door op **Verificatie opnieuw verzenden**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Gebruikers en rollen**

In Beheer > Gebruikers en rollen wordt in de kolom E-mailstatus de verificatiestatus van elke gebruiker weergegeven.

![](assets/email-verification-3.png)

Als u een verificatiebericht opnieuw wilt verzenden aan een niet-geverifieerde gebruiker, selecteert u gewoon de desbetreffende record en klikt u op de knop **E-mail verifiëren** knop.
