---
description: E-mailverificatie - Marketo Docs - Productdocumentatie
title: E-mailverificatie
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: f60c40441be4bcfcc277b620f6d4e19b2047caef
workflow-type: tm+mt
source-wordcount: '154'
ht-degree: 0%

---

# E-mailverificatie {#email-verification}

Adobe Marketo Engage-abonnementen vereisen dat alle gebruikers die geen API gebruiken, inclusief Marketo Engage-beheerders, hun e-mailadres verifiëren. Aan gebruikers met een SSO (Single Sign-On) die geen beheerdersrol hebben toegewezen, wordt automatisch hun e-mail geverifieerd wanneer hun abonnement is ingeschakeld met de functie E-mailverificatie.

**Uitnodiging gebruiker**

Wanneer een Admin een gebruiker uitnodigt, wordt die gebruiker automatisch geverifieerd zodra hij op de uitnodigingskoppeling klikt. SSO-gebruikers waaraan de beheerdersrol niet is toegewezen, worden automatisch geverifieerd.

**Een e-mailadres wijzigen**

Wanneer het e-mailadres van een gebruiker wordt gewijzigd, wordt het niet geverifieerd. Er wordt een e-mail naar hen verzonden, zodat ze opnieuw kunnen verifiëren. Gebruikers kunnen de e-mail handmatig opnieuw verzenden door op **Verificatie opnieuw verzenden**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Gebruikers en rollen**

In Beheer > Gebruikers en rollen wordt in de kolom E-mailstatus de verificatiestatus van elke gebruiker weergegeven.

![](assets/email-verification-3.png)

Als u een verificatiebericht opnieuw wilt verzenden aan een niet-geverifieerde gebruiker, selecteert u gewoon de desbetreffende record en klikt u op de knop **E-mail verifiëren** knop.
